* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  min-width: 100px;
  min-height: 100px;
  max-width: 1000px;
  max-height: 1000px;
  width: 500px;
  height: 500px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 5px solid black;
}
#list {
  width: fit-content;
  max-width: 120px;
  height: 100px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid black;
  text-wrap: wrap;
  display: flex;
  font-size: 1em;
  flex-direction: column;
}
#score {
  font-size: 32px;
  text-align: center;
}
.container > * {
  width: fit-content;
  height: 10%;
}
input {
  max-width: 200px;
  padding: 20px;
  font-size: 24px;
}
.listing {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}
/* #input.splice {
  position: relative;
} */
/* #input.splice::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border-radius: 1px solid red;
}
@keyframes identifier {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 100px;
    height: 100px;
  }
} */
